@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');

*{
    font-family: Montserrat;
    font-size: 14px;
}
a{
    font-family: Montserrat;
}
a:hover{
    text-decoration: none;
}
a:target{
  background-color: green;
}
#wrapper{
    overflow: hidden;
}
.dspNone{
  display: none;
}
.dspBlock{
  display: block;
}

.cartAmm{
  margin-bottom: 30px;
}
.cartAmm h5{
font-size: 36px;
font-family: "Montserrat";
color: rgb(21, 21, 22);
font-weight: bold;
line-height: 1.2;
padding: 10px 0;
}
.cartItems{
padding: 10px;
padding-left: 30px;
background: #FFFFFF;
box-shadow: 0 2px 0 0 rgba(215,215,215,0.59), 0 9px 16px 0 rgba(220,220,220,0.99);
}
.headCart{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(125, 125, 128);
    line-height: 1.2;
    padding: 15px 0;
    border-bottom: 1px solid #F2F2F2;
}
.headCart div:first-child{
  text-align: left;
}
.cartOneItem{
font-size: 13.99px;
color: #1A1A1A;
letter-spacing: 0;
padding: 20px 0;
}
.cartOneItem a{
  cursor: pointer;
}
.cartOneItem .imgCartItem{
  margin-right: 20px;
  float: left;
  height: 100%;
}
.cartOneItem .imgCartItem img{
  max-width: 58px;
  max-height: 58px;
}
.cartOneItem input[type="button"],
.totalsBtn input[type="button"],
.adrDown input[type="button"]{
  background-image: url(../img/icons/cancel-button.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  background-color: white;
  padding: 0 15px;
  font-size: 12px;
  color: #7D7D80;
  letter-spacing: 0;
  cursor: pointer;
  border: 0;
}
.cartDescr{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(26, 26, 26);
  line-height: 1.2;
  text-align: left;
}
.cartDescr p:hover{
  text-decoration: underline;
}
.cartOneItem .plusminus{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 8px 0 #D7D7D7;
  height: 40px;
  font-size: 20px;
  color: #5D5752;
  width: 110px;
}
.cartOneItem .minus,
.cartOneItem .plus,
.cartOneItem #niti{
  text-align: center;
  width: 33%;
  height: 39px;
  padding: 0;
  float: left;
  border-style: none;
}
.plus,
.minus{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center
}

.priceReduce,
.totalItems {
  font-size: 12px;
  color: #7D7D80;
  letter-spacing: 0;
}
.priceItem{
font-size: 15.99px;
color: #1A1A1A;
letter-spacing: 0;
}
.totals{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.reduceTotal{
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: right;
    width: 70%;
}
.reduceTotal input{
  color: red;
  border-style: none;
  outline-style: none;
  width: 20%;
  text-align: right;
}
.reduceTotal b{
  color: red;
  font-weight: normal;
}
.badgam{
  padding: 20px 0;
  border-top: 1px solid #F2F2F2;
}
.totalItems input[type="text"]{
  border-style: none;
  outline-style: none;
  width: 15px;
  font-size: 12px;
  color: #7D7D80;
  letter-spacing: 0;
}
.cartDelivery{
  padding: 10px;
  padding-left: 30px;
  background: #FFFFFF;
  box-shadow: 0 2px 0 0 rgba(215,215,215,0.59), 0 9px 16px 0 rgba(220,220,220,0.99);
}
.cartDelivery h3{
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(21, 21, 22);
  font-weight: bold;
  line-height: 1.2;
  padding: 5px 0;
  padding-bottom: 10px;
  margin: 2px 0;
  border-bottom: 1px solid #F2F2F2;
  width: 100%;
}
.cartDelivery h4{
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(21, 21, 22);
  font-weight: bold;
  line-height: 1.2;
  margin-top: 20px;
}
.cartDelivery input{
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 23px;
  margin: 0;
  font-size: 14px;
  width: 90%;
  padding-left: 15px;
  border-radius: 3px;
}
.cartDelivery [class*="col-"]{
  padding: 0;
}
.cartDelivery label{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(73, 73, 77);
  line-height: 1.2;
}
.cartDelivery p{
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(128, 128, 128);
  line-height: 1.2;
}
.deliveryOption{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #808080;
  letter-spacing: 0;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 3px;
  width: 80%;
  background: #FFFFFF;
  border: 1px solid #898989;
  margin: 0 auto;
  margin-bottom: 20px;
}
.deliverySelected{
  color: rgb(239, 0, 0);
  background: #F4F4F4;
  border: 0;
}
.deliverySelected::after{
  position: absolute;
  top: 45px;
  left: 125px;
  content: url(../img/icons/deliverySelected.png);
}
.slideAdress{
  margin-right: 15px;
}

.adressItem{
  background: #FFFFFF;
  box-shadow: 0 1px 8px 0 #D7D7D7;
  border-radius: 3px;
  padding: 10px;
  margin: 20px 17px;
}
.adressItem p{
  font-size: 16px;
  color: #808080;
  letter-spacing: 0;
  margin: 0;
}
.adressItemSelected{
  color: #1A1919;
  letter-spacing: 0;
  background: #F4F4F4;
  border: 1px solid #D1D1D1;
  background-image: url(../img/icons/adressSelected.png);
  background-repeat: no-repeat;
  background-position: 95% 10%;
}
.adressItemSelected p{
  color: black;
}
.slideAdress .slick-list{
  height: 130px;
}
.slideAdress .slick-arrow{
  background-color: transparent;
  box-shadow: none;
  height: 15px;
  top: 50%;
  margin-top: -6px;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
}
.slideAdress .slick-prev {
  left: -3%;
  background-image: url(../img/icons/adressLeft.png);
}
.slideAdress .slick-next {
  right: -3%;
  background-image: url(../img/icons/adressRight.png);
}

.tighi input{
  width: 100%;
}
.tighi .form-group:first-child>input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tighi .form-group:nth-child(2)>input{
  border-radius: 0;
}
.tighi input:last-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tighi{
  padding-right: 20px !important;
}
#cityCart{
  width: 95%;
}
.addAdres{
  font-size: 16px;
  color: black;
  letter-spacing: 0;
  line-height: 35px;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(white, rgb(238, 238, 238));
  box-shadow: 0px 2px 0px 0px rgba(210, 210, 210, 0.004);
}
.cartDelivery form{
  margin-bottom: 20px;
}
.payOption{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #808080;
  letter-spacing: 0;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  width: 90%;
  background: #FFFFFF;
  border: 1px solid #898989;
  margin: 0 auto;
  margin-bottom: 20px;
}
.paySelected{
  background: #F4F4F4;
  color: rgb(239, 0, 0);
  border: 0;
}
.paySelected::after{
  position: absolute;
  top: 60%;
  left: 40%;
  content: url(../img/icons/deliverySelected.png);
}
.line{
  border-bottom: 1px solid #4D4D4D;
}
.resum{
  padding-left: 15px;
  font-family: 'Playfair Display';
  font-size: 17px;
  color: #4D4D4D;
  letter-spacing: 0;
}
.totalToPay{
  margin-top: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
#confirmbtn,
#confirmbtnTran,
#confirmbtnChes{
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  padding: 10px 0;
  margin: 30px 0;
  cursor: pointer;
  background: linear-gradient(#f11315, #ef0305, #d50204);
  border-bottom: 1px solid #a10000;
  border-radius: 3px;
  margin-left: 10px;
}
.addAdressSucces{
  font-size: 14px;
  font-family: "Montserrat";
  color: red;
  line-height: 1.2;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  width: 95%;
  padding: 20px 0;
  margin: 10px 0;
}
.adresLimit{
  text-align: center;
  border: 1px solid #898989;
  border-radius: 23px;
  padding: 10px 0;
  width: 95%;
}
.dropdownAdr{
  cursor: pointer;
  margin: 0 auto;
  width: 40%;
  padding: 0 20px;
  background-image: url(../img/icons/dropdownAdr.png);
  background-position: 100% center;
  background-repeat: no-repeat;
}
.dropdownAdr p{
  text-decoration: underline;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #151516;
  letter-spacing: 0;
}
.adrDown{
  text-align: left;
  padding: 50px;
}
.nameAdr{
  font-family: 'Montserrat';
  font-weight: bold;
}
.adrDownItem{
  margin: 10px 0;
}
.delSelf h5{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 18px;
  color: #1A1A1A;
  letter-spacing: 0;
  margin: 10px 0;
}
.delSelf select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 95%;
  background-image: url(../img/icons/selectDown.png);
  background-position: 95% center;
  background-repeat: no-repeat;
  font-family: 'Playfair Display';
  font-size: 18px;
  color: #1A1A1A;
  letter-spacing: 0;
  cursor: pointer;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 5px 10px;
}
.delSelf option{
  background-color: white;
}
.delSelf{
  margin-bottom: 70px;
}
.unloggedCart{
  text-align: right;
  padding-top: 20px;
  padding-right: 30px;

}
.unloggedCart input{
  width: 20px;
  margin-right: 60px;
  margin-top: 5px;
}
.unloggedCart span{
  font-family: 'Playfair Display';
  font-size: 14px;
  color: #1A1A1A;
  letter-spacing: 0;
  margin-right: 20px;
}
.main-button{
  border-radius: 5px;
  background: linear-gradient(#f1f1f1, #ededed, #e9e9e9);
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0px 2px 0px 0px rgba(210, 210, 210, 0.004);
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 0, 0);
  font-weight: bold;
  line-height: 2.501;
  padding: 5px;
  width: 10%;
  text-align: center;
  margin: 20px 0;
}
.searchProductByCode{
  text-decoration: none !important;
}
.cartAmm .main-button{
  border-radius: 5px;
  background: linear-gradient(#f1f1f1, #ededed, #e9e9e9);
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0px 2px 0px 0px rgba(210, 210, 210, 0.004);
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 0, 0);
  font-weight: bold;
  line-height: 2.501;
}
.cartAmm .modal-body{
  text-align: center;
  padding: 30px 0;
}
.cartAmm .modal-dialog{
  top: 30%;
}
#modalToCartItem .modal-header{
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(21, 21, 22);
  font-weight: bold;
  line-height: 1.2;
}
#modalToCartItem .modal-body{
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(26, 26, 26);
  line-height: 1.2;
  text-align: center;
}
#modalToCartItem .modal-body h5{
  background-image: none;
}
#modalToCartItem .modal-body .plusminus{
  width: 30%;
  height: 40px;
  margin-left: 20px;
}
#modalToCartItem .modal-body .minus,
#modalToCartItem .modal-body .plus,
#modalToCartItem .modal-body #niti{
  width: 33%;
  height: 39px;
}
.inputUnit{
  margin-top: 10px;
}
.inputUnit input[type="text"]{
  width: 50%;
  outline-style: none;
}
.colRed input[type="text"]{
  margin-bottom: 5px;
}
.fter{
  padding: 30px 0;
}
.fter input[type="button"]{
  border-style: none;
  border-radius: 5px;
  background: linear-gradient(#f1f1f1, #ededed, #e9e9e9);
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0px 2px 0px 0px rgba(210, 210, 210, 0.004);
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 0, 0);
  font-weight: bold;
  line-height: 2.501;
  width: 70%;
  cursor: pointer;
}
.fter a{
  display: block;
  border-radius: 5px;
  background: linear-gradient(#f1f1f1, #ededed, #e9e9e9);
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0px 2px 0px 0px rgba(210, 210, 210, 0.004);
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 0, 0);
  font-weight: bold;
  line-height: 2.501;
  width: 70%;
  text-align: center;
}
.img404{
  margin: 40px 0;
}
.img404 img{
  width: 100%;
}
.retSoc{
  margin-left: 5%;
  margin-top: 20px;
}
.retSoc img{
  margin: 10px;
}
.readMoreFor{
  cursor: pointer;
}
 .readMoreFor a{
   display: block;
  width: 60%;
  background-color: red;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 9999;
  text-align: center;
  color: white;
  padding: 10px 0;
  visibility: hidden;
  cursor: pointer;
}
 .inside .imgInside:hover>.readMoreFor a{
  visibility: visible;
}
.inside .imgInside:hover>img{
 transform: scale(1.1, 1.1);
}
@media only screen and (max-width: 992px) {
  .cart .navig,
  .recentEvents{
    display: none;
  }
  .cart h5{
    text-align: center;
    font-size: 22px;
  }
  .headCart{
    display: none;
  }
  .frAdr1 input{
    width: 95%;
  }
  .resum,
  .totalToPay{
    font-size: 14px;
    padding-right: 25px;
  }
  .deliverySelected::after{
    top: 60%;
    left: 50%;
  }
  .paySelected::after{
    top: 60%;
    left: 47%;
  }

  .addAdres{
    width: 95%;
  }
  .delSelf h5{
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px){
  .cartDescr{
    font-size: 12px;
  }
  .cartOneItem .plus,
  .cartOneItem .minus,
  .cartOneItem #niti{
    width: 33%;
    height: 30px;
    font-size: 14px;
  }
  .cartOneItem .plusminus{
    height: 31px;
  }
  .cartOneItem div:nth-child(2){
    padding: 0;
  }
  .fter a{
   margin: 0 auto;
  }
}
.item a{
  display: block;
}
.form-select {
    background: #ffffff;
    overflow: hidden;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
}

.form-select select {
    position: relative;
    background: transparent;
    display: block;
    width: 100%;
    outline: none;
    color: #888888;
    cursor: pointer;
    border: none;
    padding: 10px 10px 10px 5px;
    text-overflow: '';
    text-indent: 5px;
    -webkit-appearance: none;
     -moz-appearance:    none;
     appearance:         none;
     background-image: url(../img/icons/select-arrow.png);
     background-position: 95% center;
     background-repeat: no-repeat;
}
.form-select option[disabled] {
    color: #eeeeee;
    text-shadow: none;
    border: none;
}
.form-select select:-moz-focus{
    color: transparent;
    text-shadow: 0 0 0 #888888;
}

.form-select select::-ms-expand {
    display: none;
}
.form-select-mobile {
    background: #E9E5E5;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
}

.form-select-mobile select {
    position: relative;
    background-color: #E9E5E5;
    display: block;
    width: 100%;
    outline-style: none;
    color: black;
    cursor: pointer;
    border-style: none;
    text-overflow: '';
    text-indent: 5px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background-image: url(../img/icons/select-arrow.png);
    background-position: 95% center;
    background-repeat: no-repeat;
    padding: 0;
    padding-top: 2px;
}
.form-select option[disabled] {
      color: #eeeeee;
      text-shadow: none;
      border: none;
}
.form-select select:-moz-focus{
    color: transparent;
    text-shadow: 0 0 0 #888888;
}

.form-select select::-ms-expand {
    display: none;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
}
.ngh{
  text-align: center;
}

.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  width: 2px;
  height: 2px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.custom-checkbox > .box {
    background-color: #ffffff;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #000000;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 5px;
}


.custom-checkbox > .box > .tick {
  display: none;
}


.custom-checkbox > input:checked ~ .box,
/*IE8*/.custom-checkbox.checked > .box{
	border: 2px solid #683D3D;
  font-weight: bold;
}
.custom-checkbox > input:checked ~ .box > .tick,
/*IE8*/.custom-checkbox.checked > .box > .tick {
  display: block;

}
.custom-checkbox > input:active ~ .box {
  border: 2px solid #683D3D;
  font-weight: bold;
}
.custom-checkbox-mobile {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.custom-checkbox-mobile > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  width: 2px;
  height: 2px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.custom-checkbox-mobile > .box {
    background-color: inherit;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #000000;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 5px;
}
.custom-checkbox-mobile > .box > .tick {
  display: none;
}
.custom-checkbox-mobile > input:checked ~ .box,
/*IE8*/.custom-checkbox-mobile .checked > .box{
	border: 1px solid black;
}
.custom-checkbox-mobile > input:checked ~ .box > .tick,
/*IE8*/.custom-checkbox-mobile .checked > .box > .tick {
  display: block;
}
.custom-checkbox-mobile> input:active ~ .box {
  border: 1px solid black;
}
#courier{
  padding: 20px;
}
#pickup {
  padding: 30px;
}
#courier input,
#pickup select{
  width: 60%;
  margin-bottom: 20px;
}
#pickup select{
  padding: 10px;
  margin-bottom: 20px;
}
#courier label{
  font-weight: normal;
}
select[name="status"],
select[name="payment"]{
  margin: 10px;
  width: 80%;
}
.colRed input{
  width: 80%;
}
.modal-footer input[type="submit"]{
  padding: 6px 0;
}
